<form class='tags-form'>
    <input class='tags-start-time tags-time form-control' value='{{time.hoursString}}:{{time.minutesString}}:{{time.secondsString}}' placeholder='00:00:00'> - <input class='tags-end-time tags-time form-control' value='{{time.hoursString}}:{{time.minutesString}}:{{time.secondsString}}' placeholder='00:00:00'>
    <input class='tags form-control' type='text' placeholder='Tags'>
    <input class='hidden-submit' type='submit' value='Save'>
</form>